{{template "base" .}}

{{define "content"}}

    <!-- FORM STARTS HERE-->
    <div class="container" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <h1>Make reservation!</h1>

                {{$res := index .Data "reservation"}}

                <form action="/reservation " method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                        <div class="col">
                            <div class="form-group">
                                <label for="first_name" class="form-label">First Name</label>
                                    {{with .Form.Errors.Get "first_name"}}
                                        <label class="text-danger">{{.}}</label>
                                    {{end}}
                                <input type="text" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                                    id="first_name" name="first_name" autocomplete="off" value="{{$res.FirstName}}" required>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                <label for="last_name" class="form-label">Last Name</label>
                                    {{with .Form.Errors.Get "last_name"}}
                                        <label class="text-danger">{{.}}</label>
                                    {{end}}
                                <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" 
                                    id="last_name" name="last_name" autocomplete="off" value="{{$res.LastName}}" required>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                    {{with .Form.Errors.Get "email"}}
                                        <label class="text-danger">{{.}}</label>
                                    {{end}}
                                <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                                    id="email" name="email" autocomplete="off" value="{{$res.Email}}" required>
                            </div>
                        </div>

                        <div class="col" style="margin-bottom: 10px;">
                            <div class="form-group">
                                <label for="phone" class="form-label">Phone Number</label>
                                    {{with .Form.Errors.Get "phone"}}
                                        <label class="text-danger">{{.}}</label>
                                    {{end}}
                                <input type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                                    id="phone" name="phone" autocomplete="off" value="{{$res.Phone}}" required>
                            </div>
                        </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- FORM ENDS -->

{{end}}

{{block "js" .}}
    <script>

        document.getElementById("submitbutton").addEventListener("click", function () {
            notify("This is my message", "success")
        })

        function notify(msg, msgType) {
            notie.alert({
                type: msgType,
                text: msg,
            })

        }
    </script>
{{end}}
