{{template "base" .}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    <div class="container" style="margin-top: 100px; margin-bottom: 76px;">
        <div class="row">
        <h1 class="mt-5">Reservation Summary</h1>
        <hr>
            <div class="col">
                <table>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                        </tr>
                        <tr>
                            <td>RoomName:</td>
                        </tr>
                        <tr>
                            <td>Arrival:</td>
                        </tr>
                        <tr>
                            <td>Departure:</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        <tr>
                            <td>{{$res.FirstName}} {{$res.LastName}}</td>
                        </tr>
                        <tr>
                            <td>{{index .StringMap "roomname"}}</td>
                        </tr>
                        <tr>
                            <td>{{index .StringMap "start_date"}}</td>
                        </tr>
                        <tr>
                            <td>{{index .StringMap "end_date"}}</td>
                        </tr>
                        <tr>
                            <td>{{$res.Email}}</td>
                        </tr>
                        <tr>
                            <td>{{$res.Phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

{{end}}