{{template "base" .}}

{{define "content"}}


<input type="hidden" id="show_error_msg" value="{{.ShowError}}">


<!-- FORM STARTS HERE-->
    <section>
        <div class="container" style="margin-top: 150px; margin-bottom: 138px;">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>Search for availability!</h1>
                    <form action="/search-availability" method="post" novalidate class="needs-validation">
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                            <div class="row g-3" style="margin-bottom: 10px;">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="start_date" class="form-label">Arrival</label>
                                        <input type="date" class="form-control" id="start" name="start"
                                            aria-describedby="startDateHelp" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="end_date" class="form-label">Departure</label>
                                        <input type="date" class="form-control" id="end" name="end"
                                            aria-describedby="endDateHelp" required>
                                    </div>
                                </div>
                            </div>
                        <button type="submit" id="submitButton" class="btn btn-primary" onclick="Notify()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- FORM ENDS -->
    
{{end}}